.title {
    font-family: "Open Sans";
    color: rgba(153, 200, 11, 0.99);
}

.node {
    fill: rgb(203, 74, 74);
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

line {
    stroke: #ccc;
}


td, tr {
    padding: 3px 10px;
    text-align: center;
}

tbody {
    display: block;
    height: 200px;
    overflow: auto;
}

#rowItem:hover {
    cursor: pointer;
    background-color: rgba(153, 200, 11, 0.99);
}

#btnDelete:hover {
    cursor: pointer;
    background-color: red;
}

#search {
    font-family: "Open Sans";
}

#search:hover {
    cursor: pointer;
    background-color: rgba(153, 200, 11, 0.99);
}